.shop_banner{
    padding-top: 60px; 
    display: block;
    overflow: hidden;
    img{
        max-width: 100%;
    }
    .banner_slider{ 
        .carousel-inner{
            .carousel-item{  
                z-index: 1; 
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0; 
                    background-image: -moz-linear-gradient( -177deg, rgb(46,2,245) 0%, rgb(239,157,34) 100%);
                    background-image: -webkit-linear-gradient( -177deg, rgb(46,2,245) 0%, rgb(239,157,34) 100%);
                    background-image: -ms-linear-gradient( -177deg, rgb(46,2,245) 0%, rgb(239,157,34) 100%);
                    opacity: 0.122;
                    display: block; 
                } 
                img{
                    display: block;
                    max-width: 100%;
                } 
                .slider_caption{
                    text-align: left;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 65px;
                    z-index: 1;
                    text-align: center;
                    h2{
                        font: 700 56px/59px $pop;
                        color: $bc;
                        display: block;
                        padding-bottom: 95px;
                        span{
                            display: block;
                            color: #fff;
                        }
                    }
                    a{
                        font: 400 22px/50px $lato;
                        color: #fff;
                        background: $hover;
                        min-width: 203px;
                        display: inline-block;
                        &:hover, &:focus{
                            background: $bc; 
                        }
                    }
                }
                .shop_logo{
                    position: absolute;
                    left: 35px;
                    top: 40px;
                    z-index: 1;
                }
                h3{
                    background: $bc;
                    border-radius: 50%;
                    display: inline-block;
                    color: #fff;
                    font: 900 italic 25px/30px $lato;
                    position: absolute;
                    right: 70px;
                    top: 115px;
                    height: 150px;
                    width: 150px;
                    text-align: center;
                    z-index: 1;
                    padding-top: 50px;
                    transform: rotate(-45deg);
                }
                h1{
                    color: #fff;
                    font: 900 58px/1 $lato;
                    position: absolute;
                    bottom: 30px;
                    left: 20px;
                    z-index: 1; 
                }
            }
        } 

        .carousel-indicators{
            left: auto;
            right: 40px;
            bottom: 14px;
            margin: 0;
            li{
                height: 9px;
                width: 9px;
                border-radius: 50%;
                background: #ffaf49;
                cursor: pointer;
                &:hover, &:focus, &.active{
                    background: #fff;
                }
            }
        }
    } 
    .slider_offer{
        margin-top: 30px;
        position: relative; 
        z-index: 1;  
        &:after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;  
            background-image: -moz-linear-gradient( 180deg, rgb(49,5,242) 0%, rgb(240,157,33) 100%);
            background-image: -webkit-linear-gradient( 180deg, rgb(49,5,242) 0%, rgb(240,157,33) 100%);
            background-image: -ms-linear-gradient( 180deg, rgb(49,5,242) 0%, rgb(240,157,33) 100%);
            opacity: 0.6;
            display: block; 
        }
        img{
            max-width: 100%;
        }
        a{
            color: #fff;
            font: 900 italic 30px/1 $lato;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            display: block;
            z-index: 1;
            &:hover, &:focus{
                color: $bc;
            }
        }
        .middle_offer{
            color: #fff;
            font: 900 italic 53px/1 $lato;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            display: block;
            z-index: 1;
            small{
                font-size: 25px;
                font: 400 25px/1 $lato;
                display: block;
                padding-top: 25px;
            }
            &:hover, &:focus{
                color: $bc;
            }
        }
    }
    .add_aera{
        text-align: center;
        margin: -10px 0 20px;
        display: block;
        overflow: hidden;
    }
}
/* shop_with_sidebar */
.shop_with_sidebar{
    display: block;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 100px;
    .shop_left_sidebar{
        .shop_items{
            text-align: center;
            margin-bottom: 30px; 
            border: 1px solid #f0f0f3;
            .shop_img{
                display: block;
                overflow: hidden;
                img{
                    max-width: 100%; 
                    transition: all 500ms linear 0s; 
                }
            } 
            &:hover, &:focus{  
                .shop_img{  
                    img{
                        transform: scale3D(1.1,1.1,1);
                    }
                }
                .shop_text .s_heding{
                    color: $bc;
                }
            }
            .shop_text{
                border-top: 1px solid #f0f0f3;
                display: block;
                overflow: hidden;
                padding-bottom: 30px;
                .s_heding{
                    display: block;
                    font: 500 18px/50px $pop;
                    color: #242222;
                    padding-top: 10px;
                }
                h4{
                    font: 500 18px/1 $pop;
                    color: #242222;
                    padding-bottom: 15px;
                }
                .theme_btn{
                    background: $hover;
                    text-transform: uppercase;
                    font: 600 15px/40px $ssp;
                    min-width: 130px;
                    border-radius: 0;  
                    color: #fff;
                    display: inline-block;
                    &:hover, &:focus{
                        background: $bc;
                    }
                }
            }
        } 
        /* next_pages */
        .pagination_area{
            margin: 20px 0 0;
            .pagination{
                display: block;
                text-align: center;
                li{
                    display: inline-block;
                    padding: 0;
                    a{
                        font: 400 20px/46px $pop;
                        color: #fff;
                        background: $hover;
                        width: 46px;
                        border-radius: 50%;
                        border: 0;
                        padding: 0;
                        text-align: center;
                        display: inline-block;
                        margin: 0 7px; 
                        min-width: auto;
                        i{
                            font-size: 12px; 
                            position: relative;
                            top: -3px; 
                        }
                        &:hover, &:focus, &.active{
                            background: $bc; 
                            color: #fff;
                        }
                    }
                }
            }
        }
        .r_heding{ 
            position: relative;
            font: 500 22px/50px $pop;
            color: #242222;
            margin-bottom: 50px;
            &:after{
                content: "";
                position: absolute;
                width: 85px;
                height: 2px;
                background: red;
                left: 0;
                bottom: 0;
            } 
        }
        .min_img{
            img{
                max-width: 100%;
            }
            .product_size{
                padding-top: 40px;
                li{
                    display: inline-block;
                    margin-left: 17px;
                    font: 400 16px/32px $ssp;
                    color: #242222;
                    border: 1px solid #e3e3e3;
                    text-align: center;
                    padding: 0 10px;
                    cursor: pointer;
                    &:first-child{
                        border: 0;
                        margin: 0;
                        font-weight: 600;
                        padding: 0;
                        background-color: transparent !important;
                        color: #242222 !important;
                    }
                    &:hover, &:focus, &.active{
                        background: $bc;
                        color: #fff;
                    }
                }
            }
        } 
        .product_details{
            padding: 0;
            margin-left: -10px;
            h2{
                font: 500 30px/45px $pop;
                color: #242222;
                margin-top: -5px;
                padding-bottom: 5px;
            }
            h1{ 
                font: 700 32px/50px $ssp;
                color: $bc;    
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                span{
                    color: rgba(36, 34, 34, 0.702);
                    font-size: 24px;
                    text-decoration: line-through;
                    padding:0 35px;
                }
                small{
                    font: 400 14px $ssp;
                    color: $hover;
                }
            }
            h4{
                font: 600  16px/32px $ssp;
                color: #242222;
                padding-top: 7px;
            }
            .rating{
                padding-top: 15px;
                padding-bottom: 22px;
                li{
                    a{
                        font-size: 16px;
                        color: #f86227;
                    }
                }
            }
            p{
                line-height: 30px;
            }
            .value-section{  
                padding-top: 45px;
                li{
                    display: inline-block;
                    font: 400 18px/40px $ssp;
                    color: #fff; 
                    text-align: center; 
                    cursor: pointer; 
                    &:last-child{
                        margin: 0;
                    }
                    button{
                        border: 0;
                        padding: 0;
                        margin: 0;
                        box-shadow: none;
                        outline: none; 
                        color: #fff; 
                        font-size: 18px;  
                        background-color: $bc;
                        cursor: pointer;
                        min-width: 70px;
                    }
                    &#product-value{
                        background: #eeeded;
                        width: 70px;
                        color: $pfont;
                    }
                    .theme_btn{
                        min-width: 130px;
                        line-height: 40px;
                        text-transform: uppercase;
                        font-size: 15px;
                        color: #fff;
                        background: $hover;
                        font-family: $ssp; 
                        border-radius: 0;
                        font-weight: 600;
                        display: inline-block;
                        margin-left: 20px; 
                        &:hover, &:focus{
                            background: $bc;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .review-tab{
            padding: 55px 15px;
            .nav-tabs{
                margin: 0;
                border: 0;
                li{
                    a{
                        border-radius: 0;
                        margin-right: 4px;
                        line-height: 60px;
                        font-size: 20px;
                        padding: 0 65px;
                        font-weight: 500;
                        display: inline-block;
                        background: #eeeded;
                        color: #242222;  
                        &:hover, &:focus, &.active{
                            color: #fff;
                            background: $hover;
                        }
                    }
                }
            }
            .tab-content{
                padding-top: 5px;
                p{
                    line-height: 35px;
                    font-size: 16px;
                    padding-top: 25px;
                }
            }
        }
    }
    .shop_right_sidebar{ 
        .input-group{
            input{
                box-shadow: none;
                border: 1px solid #eeeeee;
                font: 400 15px/45px $pop;
                color: rgba(0, 0, 0, 0.42);
                border-radius: 0;
                padding: 0 20px;
                padding-right: 0; 
                @include placeholder{ 
                    color: rgba(0, 0, 0, 0.42);
                }
                &:focus{
                    border-color: $bc;
                    @include placeholder{
                        color: transparent;
                    }
                }
            }
            .input-group-append{ 
                border: 0;
                cursor: pointer;
                span{
                    border: 0; 
                    padding: 0 20px;
                    border-radius: 0;
                    color: #fff; 
                    font-size: 16px;
                    min-width: 56px;
                    text-align: center;
                    background: $bc;
                    i{
                        font-size: 16px;
                        padding: 0; 
                        position: inherit;
                        top: 0;
                        left: 0;
                        right: 0;
                    }
                    &:hover, &:focus{
                        background: $hover;
                        color: #fff;
                    }
                } 
            }
        }
        .s_widget{
            padding-top: 45px;
            h4{
                position: relative;
                font: 500 20px/50px $pop;
                color: #242222;
                &:after{
                    content: "";
                    position: absolute;
                    width: 85px;
                    height: 2px;
                    background: $hover;
                    left: 0;
                    bottom: 0;
                }
            }
            .categories{
                padding-top: 30px;
                li{
                    a{
                        font: 400 16px/40px $pop;
                        color: #888787;
                        &:hover, &:focus{
                            color: $bc; 
                        }
                    }
                }
            }
        }
        .popular_products{
            padding-top: 20px;
            .media_fast{
                padding-top: 10px;
            }
            .media{
                margin-top: 30px;
                .media-body{
                    padding-left: 20px;
                    a{
                        font: 500 16px/36px $pop;
                        color: #242222;
                    }
                    h6{
                        font: 400 16px/1 $pop;
                        color: $hover;
                        padding-top: 7px;
                    }
                }
                &:hover, &:focus{
                    .media-body a{ 
                        color: $bc;
                    }
                }
            }
        }
    }
}
/* shop_with_sidebar */