.footer{
    background:var(--color-primary-bg);
    color: var(--color-white);
    @extend .disInlineblock;
    &__top{
        padding: 6rem 0;
    }
    &__bottom{
        @extend .disInlineblock;
        vertical-align: top;
    }
    &__logo{
        margin-bottom: 1.5rem;
        @extend .disInlineblock;
    }
    &__links-list{
        @extend .disInlineblock;
        list-style: none;
    }
    &__links-item{
        @extend .disInlineblock;
        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }
    &__box{
        @include respond(phone){
            .box{
                width: 100%;
                padding: 0;
                margin: 0;
                &:not(:last-child){
                    margin-bottom: 5rem
                }
            }
        }
    }
}
.box{
    @extend .disPlayInlineFlex;
    &__title{
        margin-bottom: 3rem;

        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;

        font-size: 2.2rem;
        line-height: 2.2rem;

    }
    &__description{
        width: 100%;
    }
    &__center{
        padding-left: 5rem;
    }
    &__form{
        @extend .disInlineblock;
        margin-bottom: 3rem;
    }
    &__social{
        @extend .disInlineblock;
    }
}
.social{
    &__links{
        display: flex;
    }
    &__link{
        display: inline-block;
        .icon{
            width: 4rem;
            height: 4rem;
            background-color: var(--color-white);
            border-radius: 1rem;
            &_facebook{
                background-size: 1rem;
            }
            &_linkedin,
            &_twitter{
                background-size: 2rem;
            }
        }
        &:not(:last-child){
            margin-right: 2rem;
        }
        &:hover,
        &:active,
        &:focus{
            text-decoration: none;
        }
    }
}
.copyright{
    &__box{
        display: block;
        width: 100%;
        padding-top:3rem;
        padding-bottom: 1.5rem;
        border-top: 1px solid var(--color-white);
        @include respond(phone){
            .col-1-of-2{
                width: 100%;
                margin-right: 0;
                text-align: left;
                margin-bottom: 1rem;
            }
        }
    }
}