$color-primary: #A3978B;
$color-secondary:#626262;
$color-white:#fff;
$color-tertiary:#E7E1DC;
$color-dark:#000;
$color-footer-bg:#7D6C64;





//grid
$grid-width:119rem;
$gutter-vertical:rem;
$gutter-horizontal:3.2rem;