.box{
    &__content{
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: flex-start;
        &-iconBox{
            display: flex;
            width: 100%;
            
            &--icon{    
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 50%;
                background-color: #CDB7AA;
                padding: 1.2rem;
                width: 6rem;
                height: 6rem;
                .icon__text{
                    font-family: "Inter", sans-serif;
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 3.6rem;
                    text-align: left;

                    font-style: normal;
                    color: #fff;

                }
            }
            &--img{
                width: 100%;
                display: inline-block;
            }
        }
        &-title{
            font-family: 'Rota';
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 2.7rem;

            margin-bottom: .8rem;

        }
        &-text{
            font-family: "Poppins", sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;

            margin-bottom: 1.4rem;

        }
        &-list{
            padding-left: 2rem;
            margin-bottom: 1.4rem;
        }
        &-img{
            width: 100%;
        }
        &.u-text-center{
            align-items: center;
        }
        &.step{
            position: relative;
            .icon__text{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #CDB7AA;
                padding: 1.2rem;
                width: 6rem;
                height: 6rem;
                z-index: 1;
                position: relative;
            }
        }
        &.step &-iconBox--icon{
            width: auto;
            height: auto;
            display: inline-block;
            padding: 0;
            background: #fff;
            &:after{
                content: '';
                position: absolute;
                left: -1.4rem;
                width: 50%;
                border-bottom:1px dashed #7D6C64;
                top: 3rem;
                border-block-width: .2rem;
                @include respond(phone){
                   display: none;
                }
            }
        }
        &.step--1 &-iconBox--icon{
            &:after{
                content: '';
                right: -1.4rem;
                left: auto;
            }
        }
        &.step--2 &-iconBox--icon{
            &:after{
                content: '';
                width: 100%;
            }
        }
        &.step--3 &-iconBox--icon{
            &:after{
                content: '';
                
            }
        }
    }
}