.navigation{
   @extend .disFlexCenter;
   position: relative;
   z-index: 100;
   @include respond(phone){
        position: relative;
        @include respond(phone){
            position: fixed;
            width: 100%;
            overflow-y: auto;
            height: 100vh;
            top: 0;
            background: var(--color-white);
            left: -100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            z-index: 100;
            transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
            -webkit-transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        }
   }
   &__nav{
        @extend .disFlexCenter;
        @include respond(phone){
            margin-top: 8rem;
        }
       
   }
   &__list{
        @extend .disFlexCenter;
        list-style: none;
        justify-content: space-between;
        @include respond(phone){
            flex-direction: column;
        }
   }
   &__item{
        display: inline-block;
        @include respond(phone){
            width: 100%;
            border-bottom: 1px solid #AEAEAE;
        }
        
   }
   &__link{
        &,
        &:link,
        &:visited{
            display: inline-block;
            padding: 2rem 1.5rem;
            transition: .2s ease;
            @include respond(phone){
                width: 100%;
                text-align: left;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.2rem;
                padding: 2rem 0rem;
               
                
            }
            
            &:hover,
            &:focus,
            &:active{
                text-decoration: none;
                color:var(--color-primary);
            }
        }
       
   }
   &__link.nav__sub{
    position: relative;
    @include respond(phone){
        &::after{
            content: '';
            width: 1.5rem;
            height: 1.5rem;
            border-radius: .2rem;
            border-left: .2rem solid #AEAEAE;
            border-bottom: .2rem solid #AEAEAE;
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translate(0,-50%) rotate(-135deg);
            -webkit-transform: translate(0,-50%) rotate(-135deg);
            transition: all .25s ease;
            -webkit-transition: all .25s ease;
        }
    }
    &.active{
        @include respond(phone){
            &::after{
                transform: translate(0,-50%) rotate(-45deg);
                -webkit-transform: translate(0,-50%) rotate(-45deg);
            }
        }
    }
   }
   &__item:first-child &__link{
     padding-left: 0;
   }
   &__item:last-child &__link{
    padding-right: 0;
  }
  &__checkbox{
    display: none;
  }
  &__subcontent{
        display: flex;
        position: absolute;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        background: #fff;
        flex-direction: column;
        left: 0;
        top: 100%;
        height: auto;
        // display: none;
        transition: all .25s ease-in-out;
        -webkit-transition: all .25s ease-in-out;
        border-top: 0.2px solid #AEAEAE;
        border-bottom: 0.2px solid #AEAEAE;
        box-shadow: 0px 8px 15px 0px #ababab;
        padding: 5rem 0;
        padding-bottom: 0;
        @include respond(phone){
            position: relative;
            z-index: 0;
            visibility: visible;
            opacity: 1;
            width: 100%;
            top: 0;
            display: none;
            box-shadow: none;
        }
        .filter__section{
            display: flex;
        }
  }
  &__link:active + &__subcontent,
  &__link:focus + &__subcontent,
  &__link:hover + &__subcontent,
  &__subcontent:active,
  &__subcontent:focus,
  &__subcontent:hover{
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
//    &__checkbox {
//         display: none;
//     }

   &__button{
        display: none;
        @include respond(phone){
            background-color: var(--color-black);
            // height: 4rem;
            // width: 4rem;
            text-align: center;
            cursor: pointer;
            position: relative;
            // display: inline-block;
            display: flex;
            
        }
   }
   
//    &__background {
//         @include respond(phone){
//             height: 100%;
//             width: 100%;
//             position: fixed;
//             top: 0rem;
//             left: 0;
//             background: rgba($color-dark,.5);
//             z-index: -100;
//             opacity: 0;
//             transition: opacity .8s cubic-bezier(0.86, 0, 0.07, 1);
//             visibility: hidden;
//         }
//     }
    @include respond(phone){
        //FUNCTIONALITY
        // &__checkbox:checked ~ &__background {
        //     opacity: 1;
        //     visibility: visible;
        // }

        // &__checkbox:checked ~ &__nav {
        //     opacity: 1;
        //     left: 0;
        // }

        //ICON
        &__icon {
            position: relative;
            // margin-top: 3.5rem;

            &,
            &::before,
            &::after {
                width: 2.5rem;
                height: .2rem;
                display: inline-block;
                background-color: var(--color-dark);
                
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: all .2s;
            }

            &::before { top: -.8rem; }
            &::after { top: .8rem; }
        }

        &__button:hover &__icon::before {
            top: -1rem;
        }

        &__button:hover &__icon::after {
            top: 1rem;
        }
        &__close{
            
            &::before,
            &::after {
                content: '';
                width: 2.5rem;
                height: 2px;
                display: inline-block;
                background-color: var(--color-dark);
                position: absolute;
                
            }
            &::before { 
                transform: rotate(135deg);
            }
            &::after { 
                transform: rotate(-135deg);
            }
        }

        // &__checkbox:checked + &__button &__icon {
        //     background-color: transparent;
        // }

        // &__checkbox:checked + &__button &__icon::before {
        //     top: 0;
        //     transform: rotate(135deg);
        // }

        // &__checkbox:checked + &__button &__icon::after {
        //     top: 0;
        //     transform: rotate(-135deg);
        // }
        .navigation__button{
            position: absolute;
            top: 4rem;
            right: 4rem;
        }
    }
    

}
body{
    &.menuActive{
        .navigation{
            left: 0;
        }
    }
}
